/* components/LoadingSpinner.css */
.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff; /* dilersen transparan yapabilirsin */
  z-index: 9999;
}

.spinner {
  width: 100px; /* logonuzun boyutu */
  height: 100px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
